@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebBG.ViewModels.ProductViewModel


<div class="panel panel-primary">
    <div class="panel-heading panel-heading-prod"> Tất cả sản phẩm thuộc nhóm: @Model.cateName</div>
    <div class="panel-body">
        <div class="row">
            @foreach (var item in Model.Bg)
            {
                <div class="col-md-3 col-6">
                    <div class="card">
                        <img src="@item.Image1" class="img-thumbnail" alt="@item.Name">
                        <div class="caption text-center">
                            <!-- Căn giữa nội dung -->
                            <p>@item.Name</p>
                            @if (item.DiscountPrice != null)
                            {
                                <p>Giá:  <s>@string.Format("{0:N0}", item.Price) VNĐ</s></p>
                                <p style="color:red">@string.Format("{0:N0}", item.DiscountPrice) VNĐ</p>
                            }
                            else
                            {
                                <p>Giá: @string.Format("{0:N0}", item.Price) VNĐ</p>
                            }
                            @if (item.Quantity != 0)
                            {
                                <div class="btn-group w-100" role="group">
                                    <!-- Button group container -->
                                    <a href="/san-pham/@item.Link-@item.BoardGameId" class="btn btn-info w-50" role="button">Chi tiết</a>
                                    <a class="btn btn-danger" class="addToCartBtn" href="/AddCart?ProductId=@item.BoardGameId & @item.Quantity">
                                        Cho vào giỏ
                                    </a>
                                </div>
                            }
                            else
                            {

                                <div class="btn-group w-100" role="group">
                                    <!-- Button group container -->
                                    <p class="bg-dark text-white">
                                        Hết hàng
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
            </ul>
        </nav>
    </div>
</div>


