@model IEnumerable<WebBG.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="color:black">
<h1>Quản lý thể loại</h1>

<p>
    <button class="btn btn-inverse-warning"><a href="~/Admin/AdminCategories/Create">Tạo Mới</a></button>
</p>
    <div class="search-field d-none d-xl-block">
        <form class="d-flex align-items-center h-100" action="#">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="tên thể loại" name="SearchString">
                <input type="submit" class="btn btn-success" value="Tìm Kiếm">
            </div>
        </form>
    </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hidden)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
                    <td>
                        @(item.Hidden == 0 ? "Hiện" : "Ẩn")
                    </td>
            <td>
                    <button class="btn btn-inverse-warning" type="button">
                        <a href="~/Admin/AdminCategories/Edit?id=@item.CategoryId">Edit</a>
                    </button>
                    <button class="btn btn-inverse-success" type="button">
                        <a href="~/Admin/AdminCategories/Details?id=@item.CategoryId">Details</a>
                    </button>
                    <button class="btn btn-inverse-danger" type="button">
                        <a href="~/Admin/AdminCategories/Delete?id=@item.CategoryId">Delete</a>
                    </button>
            </td>
        </tr>
}
    </tbody>
</table>
</div>